@charset "UTF-8";
/* CSS InfoVis Group on cs.ubc.ca */


/* Typeface, Text Size, Colour */
body {
font-family: 'Lato',"Apple SD Gothic Neo", "Segoe UI Web Regular","wf_segoe-ui_normal","Segoe UI","Segoe UI Symbol","Myriad","Calibri","UnDotum","Damascus","Futura","Helvetica Neue","BBAlpha Sans","S60 Sans","Arial",sans-serif;
font-size: 1em;
line-height: normal;
}

h1 {
font-variant: small-caps;
font-size: 1.5em;
font-weight: 500;
margin: 0px 0px 0px 0;
color: #2A5DB0;
}

h2 {
font-variant: small-caps;
font-weight: 500;
color: #2A5DB0;
margin: 0px 0 0em 0;
}

.matthew {
  font-weight: 500;
  text-decoration: underline;
}

.moreinfo {
  font-variant: small-caps;
  font-weight: bold;
}

#nav {
font-variant: small-caps;
text-decoration: none;
font-size: 1em;
color: #2A5DB0;
}

#nav a:hover{
color: #3296CF;
}


a {
color: #2A5DB0;
text-decoration: none;
}

a:hover{
color: #3296CF;
text-decoration: underline;
}

body {
color: #333333;
background: #fff;
text-align: left;

}

#page-title{
width: 100%;
clear:both;
}

#tagline{
font-size: 18px;
color: #666;
width: 450px;
height: 20px;
}


/* Layout - Sizes and Positioning */

p {
margin: 0px 0px 6px 0px;
}

.left {
float: left;
}

.right {

}

.block{
margin: 25px 0px;
margin-bottom: 30px;
}

#content-wrapper{
width: 100%;
padding: 5% 5% 0% 5%;
}


#content{
margin: 0;
padding: 0;
}

/* Header file */

#header-wrapper{
width: 100%;
position: fixed;
top: 0px;
left: 0px;
margin:0;
padding:0;
background: #FFFFFF;
z-index: 10;
}

#header{
width: 100%;
min-height: 4em;
margin:0 auto 0px;
padding:0;
background: #FFFFFF;
border-bottom: 1px solid #ccc;
}

#logo{
width: 200px;
height: 50px;
float: left;
}

#nav{
text-align: center;
padding: 1em 10% 1em 10%;
}

#title {
float:left;
width: 430px;
font-size: 32px;
margin: 15px 0px 15px 0px;
letter-spacing: 0.5px;
padding: 0 0 0 0px;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    visibility: hidden;
    margin-top: -85px;
}

/* Main page (index) */

#left-column {
  width: 14%;
	float: left;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #eeeeee;
	border-radius: 10px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	margin-left: 10%;
  margin-top: 5em;
  min-width: 11em;
}

#people-images {
float: right;
text-align:right;
}

#left-column .people-thumb {
float:right;
margin: 0px 0px 10px 0px;
width: 160px;
}

img {
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 1px 1px 3px 0px grey;
}

#right-column {
	margin-left: 10%;
	padding: 5em 10px 10px 10px;
  min-width: 55em;
}

.bio{
width: 549px;
margin: 0px 0px 0px 0px;
padding: 10px 0px 10px 0px;
float: left;
}

.bio .text{
float: left;
width: 549px;
}

.news{
width: 565px;
margin: 0px 0px 0px -10px;
padding: 0px 0px 0px 10px;
float: left;
/* background: #eeffff; */
border-radius:10px 10px 10px 10px;
}

.pub{
width: 90%;
margin: 0px 0px 10px 0px;
padding: 0px 0px 10px 0px;
float: left;
}

.pub-one-column{
width: 720px;
float: left;
margin: 10px 0px 10px 0px;
border-bottom: 1px solid #999999;
}

.pub .text{
float: left;
width: 80%;
}

.pub .thumb{
float: right;
}


/* Used for Publications page */
.pub-one-column .text{
float: left;
width: 470px;
margin: 15px;
}

.pub-one-column .thumb{
float: left;
width: 200px;
margin: 10px;
}

.pub-one-column .venue .name{
font-style: italic;
}

.emph{
font-weight: bold;
}

.title{
font-weight: bold;
}

#publications .award{
font-style: italic;
color: #669933;
}

#projects {
float:left;
width: 470px;
margin-left:0px;
}

.footer {
margin-bottom: 50px;
}

#projects .summary{
padding: 0;
margin: 5px 25px 15px 25px;
}

/* For individual project pages */
#project-one-column{
  background: #fff;
  max-width: 700px;
  min-width: 600px;
  height: 100%;
  margin: 0 auto 0 20px;
  padding: 5px 20px 15px 20px;

  font-size: 12px;
  line-height: 16px;
  text-align: justify;
}

#project-one-column .authors {
font-size: 17px;
}

#project-one-column .figure {
margin: 25px 0px;
margin-bottom: 30px;
}
#project-one-column .figure .image {
margin-bottom: 6px;
}
#project-one-column .project-one-column .figure img {
max-width: 625px; max-height: 400px;
}
#project-one-column .figure .imglink img {
margin-bottom: 6px; border: 1px solid white;
}
#project-one-column .figure .imglink img:hover {
border: 1px solid #0000FF;
}
#project-one-column .figure .caption {
font-size: 11px;
}

.citation {
margin-bottom: 20px; float: left;
}
.citation .thumb {
float: left;
padding-right: 12px;
margin-top: 3px;
}
.citation .thumb img {
border: 1px solid #fff;
}
.citation .pub {
border-bottom: none;
}
.citation .pub .title {
font-weight: bold;
}/* display: inline; }*/
.citation .pub .authors {
font-size: 12px !important;
}/* display: inline; }*/
.citation .pub .venue {
display: inline;
}
.citation .pub .venue .name {
font-style: italic;
}
.citation .pub .note {
font-weight: bold;
}

.block{
margin: 25px 0px;
margin-bottom: 30px;
}

/*body {

 margin: 2% 25% 2% 25%;
 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
 color: #000;
 font-size: 13px;
 line-height: 16px;
 vertical-align: middle;
 background-color : #C8C8C8;
 }

#top {
  clear: both;
  border : 1px solid #999;
  background-color : #EEE;
  padding-left : 5%;
  padding-right : 5%;
}

#content {
  clear: both;
  padding : 2% 5% 2% 5%;
  border : 1px solid #999;
  vertical-align: middle;
  background-color : #FFF;
}

hr {
clear: both;
color: #fff;
line-height: 0px;
}

#abstract { width: 65%; margin-right: 2%; float: right;

}

#citation { clear: both;

}

#project {  margin: 2% 2% 2% 2%; width: 25%; border: 1px solid #999;  float: left;

}

#contact { width: 25%; margin-right: 5%; float: right;

}

#homecontact { width: 25%; margin-left: 2%; float: left;
}

#calendar { margin-left: 5%; width: 60%; margin-right: 5%; border: 1px solid #999;  float: left;

}

#container { width: 100%; clear: both;

}

#footer {
border : 1px solid #999;
  background-color : #EEE;
  font-size: small;
   clear: both;
}

#flag {

margin-left: 0%; margin-right: 0%;
width: 11%; height: 7%;

}

h1 {
 font-size: 24px;
 font-weight: bold;
 margin: 15px 0 15px 0;
 color: #333333;
 clear: both;
}

h2 {
 font-variant: small-caps;
 font-size: 16px;
 font-weight: bold;
 color: #333333;
 margin-top: 10px;
 margin-bottom: 10px;
 clear: both;
}

h3 {
 font-size: 14px;
 font-weight: bold;
 color: #333333;
 margin-top: 10px;
 margin-bottom: 10px;
 clear: both;
}

a, a:visited, a:hover {
 color: #555555;
 text-decoration: none;
}


a:hover, a.nav:hover {
 color: #669933;
}*/